{% extends 'eapp/base.html' %}{% load static %} {% block css %}

<link rel="stylesheet" href="{% static 'css/home.css' %}" />
<link rel="stylesheet" href="{% static 'css/cart.css' %}" />
<!-- This is nice -->

{% endblock css %} {% block content %}
<input id="cartvalue" type="hidden"  value="{{total}}">




<div style="padding-top: 70px;" >

<!-- MESSAGES  -->
{% if messages %}

<ul class="messages" >
  {% for message in messages %}
  <div id="alert">
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="border-radius:0px">
      {{message}}

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
</ul>
{% endif %}</div>


<!-- total cart item value  -->
<input id="total_elements" type="hidden"  value="{{total_elements}}">

<!-- CART ITEMS  -->
<div class="container"  id="cart_material">

</div>




{% endblock content %} {% block js %}

<script >

let cart_num= document.getElementById("cartvalue").value
$("#cartnumber").text(cart_num);

if(cart_num==0){
  let cart_material=document.getElementById("cart_material")
    cart_material.innerHTML=`
    <h1 style="text-align: center;color:orange;padding-top:80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    YOUR CART IS EMPTY</h1>
  


     <a href="{% url 'ehome' %}" 
     class="btn btn-info btn-block" role="button" aria-pressed="true" 
     style="margin-top:50px;
     font-size:1.5em;
     border-radius:0px">
     Go Shopping</a>
    `
}
else{

    let cart_material=document.getElementById("cart_material")
    cart_material.innerHTML=`
    
    <h1 style="text-align: center;color:orange;padding-top:20px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight:600">
YOUR CART</h1>
<form method="POST" action="." class="margin-top:10px">
  {% csrf_token %}

 <div class="row">
    {% for orde in final_list %} 
    <div class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-body">
          
          <a href="{% url 'eproduct' orde.0.item.slug %}">
            <h5 class="card-title" style="font-weight:600">{{orde.0.item.name}}</h5></a>
          <ul style="font-weight:700">
            
            <li class="mt-2">
              Price( 1 item ): ${{orde.0.discount_amount}}
            </li>
            <li class="mt-2">
              Quantity: {{orde.0.quantity}}
            </li>

            <li class="mt-2">
              Total Price: ${{orde.0.final_price}}
            </li class="mt-2">
            <li class="mt-2">
              <button style="display:inline" type="button" id="minus{{orde.1}}" class="btn btn-danger">-</button>
                  <input style="display:inline" id="quantity{{orde.1}}" class="form-control quantity_input" type="number" min=1 name="id_update{{orde.1}}" value="{{orde.0.quantity}}" required>
                  <button style="display:inline" type="button" id="plus{{orde.1}}" class="btn btn-primary">+</button>             
            

                  <a href="{% url 'eremovecart' orde.0.id %}"
                   class="btn btn-danger" role="button" 
                   aria-pressed="true" 
                   style="border-radius:0px;float:right;display:inline">
                    Delete</a>
                </li>
            


          </ul>
       
        </div>
      </div>
    </div>
    {% endfor %}
  </div> 
 
  



  <button name="update" type="submit" class="btn btn-success">Update All</button>


  <div  style="font-size:2em;color:#FF0000;font-weight:700;margin-top:10px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">

    Total Quantity:<span style="margin-top:10px;;font-size:1em;border-radius:0px">{{total}}</span><br>

    Total Price:<span style="margin-top:10px;;font-size:1em;border-radius:0px"> ${{price}}</span><br>


</div>

</form>     




<div class="footer" style="display:inline-block">

<a href="{% url 'edeletewhole' %}" class="btn btn-danger" role="button" aria-pressed="true" style="border-radius:0px;float:left;width:49%;color:white;font-size:1.3em">
  Empty Cart</a>
  <a href="{% url 'echeckout' %}" class="btn btn-info" role="button" aria-pressed="true" style="border-radius:0px;float:right;width:49%;color:white;font-size:1.3em">
    Checkout</a>

</div>`
}


let total=document.getElementById("total_elements").value
  

for(let i=1;i<total+1;i++){
  $("#plus"+i).click(function(){ 
  $('#quantity'+i).val(parseInt($('#quantity'+i).val())+1)
  })
  $("#minus"+i).click(function(){
    let value=parseInt($('#quantity'+i).val())-1
    if(value==0){
    $('#quantity'+i).val(1)}
    else{
      $('#quantity'+i).val(value)
    }
  })
  
}

  
  let alert = document.getElementById("alert");
  setTimeout(() => {
    alert.innerHTML = "";
  }, 3000);
  
 </script>

{% endblock js%}







 
