
<div class="container-fluid foot" 
style="color:white;;
background-color:rgb(43, 100, 100);margin-bottom:-120px;margin-top:100px">

  <!-- Footer Links -->
  <div class="container text-center text-md-left;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
     
     
      <!-- Grid column -->


        <!-- Links -->
<div class="container">

        

      </div>    

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
    

      <!-- Grid column -->
    
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div style="margin-top:20px">
  <!-- Footer Links -->
  <ul class="list-unstyled list-inline " style="margin-top:20px">
    <h3 style="font-weight:600">FOOTER CONTENT</h3><br> 
    <div style="display:inline-block">
    LINKS 1:
    <LI>FAQ'S </LI>
    <li>
       associated companies
    </li>
  </div>
 
    
  </ul>
  
  <!-- Call to action -->

  <hr style="background-color:#cfcfcf">

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li>
      <h3 style="font-weight:600">Follow Us On :</h3><br> 
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fab fa-google-plus-g"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fab fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-instagram"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Call to action -->

  <hr style="background-color:#cfcfcf;margin-top:20px">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a style="color:white" href="https://yugcommerce.com/"> yugcommerce.com</a>
  </div>
  <!-- Copyright -->

</div>

</div>