{% if messages %}
<ul id="alert" class="messages" style="margin-top:60px">
  {% for message in messages %}
  <div >
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
</ul>
{% endif %}<br />
<input id="cartvaluehome" type="hidden"  value="{{total}}">

<div class="searchsec">
<div class="cont" >
  <input  id="yugalbar" class="searchbar" type="text" placeholder="Search..."><br>
  <a id="yugbtn" class="btn-search"><i class="fa fa-search"></i></a>
</div>

<form method="POST" style="z-index: 2;margin-bottom:10px;">{% csrf_token %}
 <div class="dropdown1" style="display:inline">
  <button class="btn btn-info" style="width: 59.5%;;border-radius:0px;text-align:left"  name="id">All</button>
</div> 

<div class="dropdown2" style="display:inline">
  <button class="btn btn-info dropdown-toggle" 
  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
  style="width: 40%;;border-radius:0px;text-align:left;float:right">Filter By</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><button class="btn btn-light" style="border-radius:0px; width:100%" name="lh">Low to High (price)</button></li>
  
    <li><button class="btn btn-light mt-2" style="border-radius:0px; width:100%" name="hl">High to Low (price)</button></li>
    <li><button class="btn btn-light mt-2" style="border-radius:0px; width:100%" name="id">Arrival (date)</button></li>
   
   
    <li class="mt-2 ml-2">
      
<input style="border-radius:0px" id="input1" class="form input" type="number" placeholder="Min Price" name="min" required > 
     <input style="border-radius:0px" type="number" id="input2" class="form input" placeholder="Max Price" name="max" required > 
    <button id="go" class="btn btn-danger " style="border-radius:0px;width:15%;font-size:15px" name="price_range" >Go</button></li>

    <small style="color:red">Both these fields are required</small>
    
  </div>
  
</div>

</form>
</div>

<div class="random-background yug mt-2">
<div class="container itemlist" id="itemlist">
    {% for product in sub_cate %}
   
    
    <div class="itemlist-item-wrapper container my-5 noteCards">
      <a style="color: black;"  href="{{product.get_absolute_url}}">
         <div  style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serifl" class="product-info">
          
              <h3 stye="color:gray;font-weight: 500;">
                
            <p>{{product.name}}</p>
              </h3>
        
      
               
              <strike  style="color:red">${{product.price}}</strike><span class="badge badge-success" style="font-size:1.3em;font-weight: 200">${{product.discount_price_from_percent}} </span> 
              <span  class="badge badge-danger" style="font-size:1.2em;float:right;">{{product.discount_percent}}% off</span>
          
          </div>
        
          <div class="product-image" item-data="1">
            <img
              src="http://3.design-milk.com/images/2013/07/Karim-Rashid-1-ChateauDAx_nook_chair.jpg"
            />
          </div></a>
    </div>  
    {% endfor %}  
</div>

<span  id="get_search_result" style="color:white;font-size:2em;padding-top:-30px"></span>
<span  id="get_filter_result" style="color:white;font-size:2em;padding-top:-30px"></span>

{% include 'eapp/footer.html' %}
</div>



