.responsive {
  width: 100%;
  height: auto;
}
.footer {
  position: fixed;

  width: 100%;
  background-color: white;
}
.quantity_input {
  text-align: center;
  width: 50px;
  height: 2.2em;
  border-radius: 0px;
}
.btn {
  border-radius: 0px;
}
